body {
    text-align: center;
}

.sketch-container {
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 5px solid black;
}

.sketch-box {
    flex: 1 1 35px;
    border: 1px solid black;
}

.clear-btn {
    margin-top: 20px;
    width: 250px;
}